@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: rgba(38, 38, 38, 0.92);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

br {
  width: 100px;
  height: 3px;
  border-radius: 18px;
  background-color: rgba(255, 153, 0, 1);
}

/* Navbar */



/* The Hero Image */

.hero-img {
  width: 100%;
  height: 150vh;
  z-index: -10;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}


/* main content on the home page */

.card-body {
  background: rgba(128, 128, 128, 0.644);
}

.heading {
  font-family: "Reem Kufi", sans-serif;
  text-align: center;
  text-shadow: 5px 5px 10 grey;
  margin: 5px 5px;
  padding: 8px 12px;
  color: rgba(255, 153, 0, 1);
}

.text-content {
  font-family: "Reem Kufi", sans-serif;
  text-align: center;
  text-shadow: 5px 5px 10 grey;
  margin: 5px 5px;
  padding: 8px 12px;
}

.NYC {
  color: rgba(255, 153, 0, 1);
}

.btn-pl {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 153, 0, 1);
  width: 200px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(38, 38, 38, 0.92);
  transition: all 0.5s ease-in-out 0s;
  z-index: 10; 
}

.btn-pl:hover {
  text-decoration: none;
  color: black;
}

/* attraction scroll down page  */

.main-section {
  height: 100vh;
  width: 100%;
  margin: auto;
}

#attraction,
#plan {
  width: 100%;
  height: 100vh;
}

.att-title {
  color: rgba(194, 194, 194, 1);
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 4px 3px 5px rgba(2, 2, 2, 0.863);
}

.att-line {
  width: 100px;
  height: 3px;
  border-radius: 18px;
  background-color: rgba(255, 153, 0, 1);
}

.carousel {
  top: 50px;
  min-height: 25vh;
}

.carousel-indicators {
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.slider-name {
  color: rgb(253, 253, 253);
  text-shadow: 5px -5px 10px rgba(2, 2, 2, 0.863);
  font-size: 2em;
}

.carousel-dark .carousel-control-prev-icon {
  filter: invert(0) grayscale(100);
  width: 70px;
  height: 70px;
}

.carousel-dark .carousel-control-next-icon {
  filter: invert(0) grayscale(100);
  width: 70px;
  height: 70px;
}

#btn-carousel {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 153, 0, 1);
}

/* plan scroll down page */

#plan {
  margin-top: 100px;
  width: 100%;
}

.plan-title {
  color: rgba(194, 194, 194, 1);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 4px 3px 5px rgba(2, 2, 2, 0.863);
}

.plan-line {
  width: 30px;
  height: 3px;
  border-radius: 18px;
  background-color: rgba(255, 153, 0, 1);
}

/* maps */

.map {
  width: 100%;
  height: 50vh;
  margin-top: 20px;
  border: 2px solid rgb(92, 92, 92);
  border-radius: 5px;
  box-shadow: 3px -3px 10px rgba(194, 194, 194, 1);
  min-height: 25vh;
}
#marker-tooltip {
  display: none;
  background-color: #ccc;
  margin: 15px;
}
#map-filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  color: rgba(255, 153, 0, 1);
  text-transform: capitalize;
}

#map-filters p {
  margin: 0;
  text-align: center;
}

#map-icons {
  padding: 1.5rem;
  margin: 0.5rem;
  display: table-column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#map-icons img {
  transition: all 0.35s ease-in-out;
}

#map-icons img:hover {
  transform: scale(1.4);
}

.map-icons {
  width: 2.0rem;
  cursor: pointer;
}


/* Social Media */

.social {
  height: 50vh;
  margin-top: 750px;
}
.social-title {
  color: rgba(194, 194, 194, 1);
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 4px 3px 5px rgba(2, 2, 2, 0.863);
}

.social-line {
  width: 100px;
  height: 3px;
  border-radius: 18px;
  background-color: rgba(255, 153, 0, 1);
}

.socialmedialinks {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.socialmedialinks li {
  list-style: none;
  padding: 10px 10px;
}

.socialmedialinks li a img {
  width: 52px;
  height: 52px;
  margin-right: 5px;
  border-radius: 30%;
  text-align: center;
  background-color: rgba(194, 194, 194, 1);
  transition: all 0.5s ease-in;
}

.socialmedialinks li a img:hover {
  background-color: rgba(255, 153, 0, 1);
  border: 3px solid rgba(2, 2, 2, 0.794);
  box-shadow: 2px -2px 5px rgba(194, 194, 194, 1);
}

a:active {
  background-color: rgba(255, 153, 0, 1);
  border: 3px solid rgba(2, 2, 2, 0.794);
  box-shadow: 2px -2px 5px rgba(194, 194, 194, 1);
}

.copyright {
  color: rgba(194, 194, 194, 1);
  font-size: 0.8em;
  margin-top: 0;
}

/* neighborhood page */

.underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.199);
  box-shadow: 12px 0 10px rgba(255, 153, 0, 1);
}

.title {
  color: rgba(194, 194, 194, 1);
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 4px 3px 5px rgba(2, 2, 2, 0.863);
}

.line {
  width: 100px;
  height: 3px;
  border-radius: 18px;
  background-color: rgba(255, 153, 0, 1);
}

#neighborhood {
  margin-top: 80px;
}

.img-box {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  margin: 85px 50px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.text {
  color: rgba(194, 194, 194, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 50px;
  font-weight: 700;
  text-align: start; 
  margin-top: 75px;
  font-size: 50px;
}

.para {
  color: rgb(150, 150, 150);
  font-weight: 700;
  font-size: 30px;
  text-align: inherit;
}

/* contact us button */

#contact {
  width: 100%;
  height: 80vh;
  border: 8px solid rgba(0, 0, 0, 0.842);
  border-radius: 20px;
  box-shadow: 5px -5px 20px rgb(170, 170, 170);
}

.contact-title {
  color: rgba(194, 194, 194, 1);
  margin-top: 12px;
  padding: 7px 0;
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 4px 3px 5px rgb(2 2 2 / 86%);
}

.contact-line {
  width: 150px;
  height: 3px;
  border-radius: 18px;
  background-color: rgba(255, 153, 0, 1);
}
.input-box {
  height: 50px;
  width: 90%;
  color: rgba(194, 194, 194, 1);
  background-color: transparent;
  margin: 4px;
  padding: 22px;
}
#text-box {
  height: 50px;
  width: 90%;
  background-color: transparent;
  color: rgba(194, 194, 194, 1);
  margin: 4px;
  padding: 22px;
}
.contact-name {
  margin-top: 80px;
  color: rgb(170, 170, 170);
}
.contact-mail {
  color: rgb(170, 170, 170);
}
.contact-message {
  color: rgb(170, 170, 170);
}

.email-entry {
  height: 40px;
  background-color: transparent;
  margin-top: -82px;
  padding: 19px;
  margin-left: 5px;
}
.msg-entry {
  background-color: transparent;
  margin-top: -87px;
  padding: 0px;
  margin-left: 0px;
}

.name {
  margin: 30px;
  font-size: 1rem;
  color: rgb(253, 253, 253);
}

.email {
  margin: 50px;
  font-size: 1rem;
  color: rgb(253, 253, 253);
}

.msg {
  margin: 50px;
  font-size: 1rem;
  color: rgb(253, 253, 253);
}


.btn-contact {
  height: 30px;
  padding: 0px 15px;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgba(38, 38, 38, 0.92);
  background: rgba(255, 153, 0, 1);
  transition: all 0.5s ease-in-out 0s;
  z-index: 10;
}

.btn-contact:hover {
  background: rgba(255, 153, 0, 0.7);
  transform: scale(1.12);
}

/* media query */

@media screen and (max-width: 360px){

  #attraction,
  #plan {
  width: 100%;
  height: 60vh;
  }  
  #plan {
    margin-top: 20px;
    width: 100%;
}
.social {
  height: 20vh;
  margin-top: 350px;
}
.social-title {
  font-size: 70px;
}

.socialmedialinks li {
  list-style: none;
  padding: 10px 10px;
}

/* Neighborhood Page */

.title {
  font-size: 20px;
}

.img-box {
  margin: 85px 10px;
}

.text {
  font-size: 15px;
  left: 0;
}

.para {
  font-size: 8px;
}

}

@media screen and (max-width: 380px) {
  /* home page  */
  #attraction,
  #plan {
  width: 100%;
  height: 60vh;
  }  
  #plan {
    margin-top: 20px;
    width: 100%;
}
.social {
  height: 20vh;
  margin-top: 350px;
}
.social-title {
  font-size: 25px;
}

.socialmedialinks li {
  list-style: none;
  padding: 10px 10px;
}

/* Neighborhood Page */

.title {
  font-size: 20px;
}

.img-box {
  margin: 85px 10px;
}

.text {
  font-size: 15px;
  left: 0;
}

.para {
  font-size: 8px;
}

/* contact page */

#contact {
  width: 100%;
  height: 80vh;
  border: 8px solid rgba(0, 0, 0, 0.842);
  border-radius: 20px;
  box-shadow: 5px -5px 20px rgb(170, 170, 170);
}

.contact-title {
  color: rgba(194, 194, 194, 1);
  margin-top: 12px;
  padding: 7px 0;
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 4px 3px 5px rgb(2 2 2 / 86%);
}

.contact-line {
  width: 150px;
  height: 3px;
  border-radius: 18px;
  background-color: rgba(255, 153, 0, 1);
}
.input-box {
  height: 50px;
  width: 90%;
  color: rgba(194, 194, 194, 1);
  background-color: transparent;
  margin: 4px;
  padding: 22px;
}
#text-box {
  height: 50px;
  width: 90%;
  background-color: transparent;
  color: rgba(194, 194, 194, 1);
  margin: 4px;
  padding: 22px;
}

.btn-contact {
  height: 30px;
  padding: 0px 15px;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgba(38, 38, 38, 0.92);
  background: rgba(255, 153, 0, 1);
  transition: all 0.5s ease-in-out 0s;
  z-index: 10;
}

.btn-contact:hover {
  background: rgba(255, 153, 0, 0.7);
  transform: scale(1.12);
}
}









