@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: rgba(38, 38, 38, 0.92);
    overflow-x: hidden;  
    position: relative;
    font-family: "Roboto", sans-serif;
}
/* The Hero Image */
.container-img {
    width: 75%;
    position: relative;
    margin-right: 0;

}
.hero-img {
    position: absolute;
    width: 65%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 600px;
    z-index: -10;
}
/*Nav bar */

header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px 5%;
    z-index: 10;
}

.logo {
    margin: 0 5%;
    padding: 0 5%;
    width: 100px;
    height: 100px;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0px 13px;
}

.nav-links .nav-items {
    text-decoration: none;
    color: rgba(194, 194, 194, 1);
    text-shadow: 2px 2px rgba(2, 2, 2, 0.52);
    transition: all 0.5s ease-in-out 0s;
}

.nav-links .nav-items:hover {
    color: rgba(255, 153, 0, 1);
}
/* sign up button */

.sign-btn {
    width: 150px;
    height: 35px;
    padding: 0px 14px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(38, 38, 38, 0.92);
    background: rgba(255, 153, 0, 1);
    transition: all 0.5s ease-in-out 0s;
    z-index: 10;
    
}

.sign-btn:hover {
    background: rgba(255, 153, 0, 0.7);
    transform: scale(1.12);
}

.btn {
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0px;
    
}

.burger {
    position: absolute;
    top: 150px;
    right: -16px;
    display: none;

} 

.burger div {
    width: 35px;
    height: 3px;
    margin: 7px;
    background-color: rgba(194, 194, 194, 1);
    transition: all 0.5s ease;
}

@media screen and (max-width: 950px){
    .logo {
        margin: 0 5%;
        padding: 0 5%;
    }
    .navbar {
        font-size: 16px;
        padding-left: 2px;
    }


}
/* for the burger menu to appear and animate on click */
@media screen and (max-width: 831px){
    body {
        overflow-x: hidden;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 5%;
        margin-top: 0px;
        z-index: 10;
    }
    .nav-links{
        position: absolute;
        top: -71px;
        right: -16px;
        height: 100vh;
        background-color: rgb(38, 38, 38);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
        } 


    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        position: absolute;
        top: -16px;
        right: -10px;
        z-index: 10;
        cursor: pointer;
    }

   .btn {
        position: absolute;
        top: 473px;
        right: 112px;
        margin: 10px;
        padding: 10px;
        display: none;
    }

    button {
        width: 250px;
        height: 30px;
        padding: 0px 10px;
        border-radius: 20px;
        box-shadow: 2px 4px 10px rgba(38, 38, 38, 0.92);
        background: rgba(255, 153, 0, 1);
        transition: all 0.5s ease-in-out 0s;
        z-index: 10;
    }

    button:hover {
        background: rgba(255, 153, 0, 0.7);
        transform: scale(1.12);
    } 

    .container-img {
        width: 100%;
        margin-right: 0;

    
    }
    .hero-img {
        width: 100%;
        height: 80vh;
        top: 150px;
        right: 0;
        padding: 5% 5%;
    }
    .container-1 {
        background-color: rgba(255, 153, 0, 0.014);
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-top: 552px;
        box-shadow: 0 5px 10px rgb(0, 0, 0, 84%);
        border-radius: 30px;
    }

    #attraction, #plan {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        margin-top: 100px;
        width: 100%;
        min-height: 85vh;
       
    }
    
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.closebtn .line1 {
       transform: rotate(-45deg) translate(-6px, 7px);
}
.closebtn .line2{
       opacity: 0;
}
.closebtn .line3{
       transform: rotate(45deg) translate(-6px, -9px);
}

/* main content on the home page */

.container-main{
    background-color: rgba(255, 153, 0, 0.014);
    width: 35%;
    height: 60%;
    margin-left: 125px;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.842);
    border-radius: 30px;
}

.heading {
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
    margin: 12px 15px;
    padding: 8px 12px;
    color: rgba(255, 153, 0, 1);
}

.heading-title {
    font-size: 1.10em;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: center;
    color: rgba(194, 194, 194, 1);
    margin-top: 0;
}

.discribe {
    font-size: 1em;
    color: rgba(194, 194, 194, 1);
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}
span {
    color: rgba(255, 153, 0, 1);
}

#planBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1000px;
    bottom: 500px;
    
}
.planbtn {
    width: 150px;
    height: 100px;
}

.btn-pl {
    width: 250px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(38, 38, 38, 0.92);
    background: rgba(255, 153, 0, 1);
    transition: all 0.5s ease-in-out 0s;
    z-index: 10;
}

.btn-pl:hover {
    background: rgba(255, 153, 0, 0.7);
    transform: scale(1.12);
}

/* attraction scroll down page  */


#attraction, #plan {
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    min-height: 85vh;
}

.att-title {
    color: rgba(194, 194, 194, 1);
    position: absolute;
    top: 700px;
    left: 100px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 4px 3px 5px rgba(2, 2, 2, 0.863);
}

.att-line {
    position: absolute;
    top: 725px;
    left: 100px;
    width: 100px;
    height: 3px;
    border-radius: 18px;
    background-color: rgba(255, 153, 0, 1);
}

.carousel {
    position: absolute;
    top: 738px;
    left: 101px;
}

button {
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(255, 153, 0, 1);
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
}
button:hover {
    box-shadow: 5px 5px 10px rgba(194, 194, 194, 1);
}


/* plan scroll down page */
#plan {
    margin-top: 40px;
    width: 100%;
    min-width: 75vh;
}

.plan-title {
    color: rgba(194, 194, 194, 1);
    position: absolute;
    top: 1525px;
    left: 100px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 4px 3px 5px rgba(2, 2, 2, 0.863);
}

.plan-line {
    position: absolute;
    top: 1550px;
    left: 100px;
    width: 30px;
    height: 3px;
    border-radius: 18px;
    background-color: rgba(255, 153, 0, 1);
}
/* neighborhood page */

.underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
    box-shadow: 12px 0 10px rgba(255, 153, 0, 1);
}

.title {
    color: rgba(194, 194, 194, 1);
    position: absolute;
    top: 200px;
    left: 100px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 4px 3px 5px rgba(2, 2, 2, 0.863);

}

.line {
    position: absolute;
    top: 225px;
    left: 100px;
    width: 100px;
    height: 3px;
    border-radius: 18px;
    background-color: rgba(255, 153, 0, 1);
}

.img-box {
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 15px;
    margin: 85px 30px;
}

.mh {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     border-radius: 15px;
}

.text-box {
    margin-top: 75px;
}

.mh-text {
    color: rgba(194, 194, 194, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 0;
    font-weight: 300;
    text-align: start;
}

.mh-para {
    color: rgb(150, 150, 150);
}

.img-box {
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 15px;
    margin: 85px 30px;
}

.qn {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     border-radius: 15px;
}

.text-box {
    margin-top: 75px;
}

.qn-text {
    color: rgba(194, 194, 194, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 0;
    font-weight: 300;
    text-align: start;
}

.qn-para {
    color: rgb(150, 150, 150);
}

.img-box {
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 15px;
    margin: 85px 30px;
}

.bk {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     border-radius: 15px;
}

.text-box {
    margin-top: 75px;
}

.bk-text {
    color: rgba(194, 194, 194, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 0;
    font-weight: 300;
    text-align: start;
}

.bk-para {
    color: rgb(150, 150, 150);
}

.img-box {
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 15px;
    margin: 85px 30px;
}

.bx {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     border-radius: 15px;
}

.text-box {
    margin-top: 75px;
}

.bx-text {
    color: rgba(194, 194, 194, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 0;
    font-weight: 300;
    text-align: start;
}

.bx-para {
    color: rgb(150, 150, 150);
}

.img-box {
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 15px;
    margin: 85px 30px;
}

.si {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     border-radius: 15px;
}

.text-box {
    margin-top: 75px;
}

.si-text {
    color: rgba(194, 194, 194, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 0;
    font-weight: 300;
    text-align: start;
}

.si-para {
    color: rgb(150, 150, 150);
}